body {
  margin: 0;
  padding: 0;
  background-color: #fffef5;
}

.heading {
  position: absolute;
  bottom: 50px; 
  left: 50%; 
  transform: translateX(-50%); 
  display: block;
  width: 458px;
  height: auto;
}





.roof {
  position: absolute;
  top: 0px; 
  left: 50%; 
  transform: translateX(-50%); 
  display: block;
  width: 100vw; 
  height: auto; 
}

.bell01 {
  position: absolute;
  top: 199px; 
  left:42px; 
  width: 300px; 
  height: auto; 
  transition: transform 0.3s ease-in-out;
  transform-origin: top center;
}

@keyframes swing {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); } 
  75% { transform: rotate(-5deg); } 
  100% { transform: rotate(0deg); } 
}

.bell02 {
  position: absolute;
  top: 199px; 
  left: 608px;
  width: 300px; 
  height: auto; 
  transition: transform 0.3s ease-in-out;
  transform-origin: top center;
}

@keyframes swing {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); } 
  75% { transform: rotate(-5deg); } 
  100% { transform: rotate(0deg); } 
  
}

.bell03 {
  position: absolute;
  top: 199px; 
  right: 42px; 
  width: 300px; 
  height: auto; 
  transition: transform 0.3s ease-in-out;
  transform-origin: top center;
}

@keyframes swing {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-7deg); }
  50% { transform: rotate(7deg); } 
  75% { transform: rotate(-5deg); } 
  100% { transform: rotate(0deg); } 
}

.projectfdescriptionbutton{ 
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #72c6a5;
    font-family: "estratto-variable", sans-serif;
    font-variation-settings: "wght" 400;
  }


.hidden {
    display: none;
}

.imageContainer {
    text-align: center;
    margin-top: 0px;
}
.bg{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw; 
  height: auto; 
  
}

.description{
  position: absolute;
  top:200px;
  left: 50%;
  transform: translateX(-50%);
  width: 650px; 
  height: auto; 
}



/* Style for the remove button image */
.removeButton {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 50px;
    height: auto;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .removeButton:hover {
    content: url('closebutton.png');
    position: absolute;
    top: 15px;
    right: 30px;
    width: 50px;
    height: auto;
    cursor: pointer;

  }  

